/*set background colors and spacing containers*/
header {
    background-color: tan;
    border: 2px solid black;
    height: auto;
    padding: 25px;
  }
  
  main {
    background-color: #800020;
  }
  footer {
      background-color: tan;
      border: 2px solid black;
      height: auto;
  }
  
  /*center image, text and containers*/
  .text-centered {
      text-align: center;
  }
  
  .wrapper {
      margin: auto;
    }
  
  /*changing text fonts and sizes*/
  h1 {
      font-size: 60px;
      font-family: fantasy, monospace;
      text-align: center;
  }
  
  .dogs {
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
  }
  
  h2 {
      font-size: 32px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 40px;
  }
  p {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  /* flexbox */
  .group {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
  }
  
  .item {
      flex: 1;
      margin: 10px;
  }
    
  
  main img {
      width: 100%;
  }
  
  @media all and (min-width: 800px) {
      .group {
        flex-direction: row;
      }
  
      .item {
          flex-grow: 1;
          margin: 10px;
      }
  
      .item-double {
          flex: 2;
      }
  
  
      .padding-top {
          padding-top: 100px;
      }
  
      header {
          display: flex;
          padding: 0 30px;
      }
  
      h1 {
          text-align: left;
      }
  
      header nav {
          margin-top: 8px;
          padding-top: 100px;
      }
    }
  